/* Footer.css */
.footer{
    position: absolute;
    left: 0%;
    top: 85%;
    width: 100%;
    height: 15%;
    color: whitesmoke;
    background-color: #323296;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    font-size: 13px;
}

.footer-content {
  display: flex;
  flex-direction: left;
  gap: 300px;
}

.footer-section p, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-section ul li a {
  color: whitesmoke;
  text-decoration: none;
}

.footer-bottom{
    position: absolute;
    left: 0%;
    top: 96%;
}
