/* Sidebar.css */
.sidebar {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100vh;
  background-color: #151545;
  color: whitesmoke;
  padding-top: 20px;
  box-sizing: border-box;
  transition: left 0.3s ease;
  z-index: 1000;
  overflow-y: auto;
}
.sidebar.open {
  left: 0;
}
.close-btn {
  background: none;
  border: none;
  color: whitesmoke;
  font-size: 28px;
  cursor: pointer;
  margin-bottom: 40px;
}
.sidebar-list{
  margin-bottom: 15px;
  width: 250px;
  padding-left: 0;
}
.sidebar-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 0;
  cursor: pointer;
  margin-bottom: 15px;
  width: 250px;
  height: 40px;
  color: whitesmoke;
  text-decoration: none;
  font-weight: bold;
}
.sidebar-item:hover {
  text-decoration: underline;
  cursor: pointer;
  margin-bottom: 15px;
  width: 250px;
  background-color: #1d1d74;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.5);
  z-index: 900;
}
