.content-home{
    position: absolute;
    width: 100%;
    top: 12%;
    left: 0%;
    height: 100%;
    background-color: #f9f9f9;
}
.back-home {
    width: 100%;
    height: 100%;
    z-index: -1;
}
.mapview-container {
    position: absolute;
    top: 25%;
    left: 20%;
    width: 60%;
    border: 5px solid #d5d5d5;
}